.logout{
    text-align: center;
    font-size: 1rem;
    text-decoration: none;
    padding: 0;
    margin: 0;
    margin-top: 1rem;
    color: black;
    border: solid 10px hsl(168, 100%, 50%);
    font-weight: bold
}
.logout a{
    color:#00ffcc;
    text-decoration: none;
    background-color: #00ffcc
;
}