*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
  width: 450px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  padding: 2rem;
  margin: 50px auto;
  border-radius: 15px;
  box-shadow: 0 20px 35px rgba(0, 0, 1, 0.9);
  color: #ffff;
}
form{
    margin: 0 2rem;
}
.title{
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 2rem;
    font-weight: 600;
    color: #00ffcc;
}
input{
    color: inherit;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #757575;
    padding-left: 1.5rem;
    margin-bottom: 0.4rem;
}
.input-group{
    position: relative;
    margin: 1% 0;
}
.input-group{
    position: relative;
    color: black;
}
input:focus{
    background-color: transparent;
    outline: transparent;
    border-bottom: 2px solid #00ffcc;
}
input::placeholder{
    color: transparent;
}
label{
  color: #757575;
  position: relative;
  left: 2rem;
  top: -2.5rem;
  cursor: auto;
  transition: 0.5s ease all;
}
input:focus ~ label,input:not(:placeholder-shown) ~ label{
    top: -3rem;
    font-size: 0.75rem;
    color: #00ffcc;
}
.recover{
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1rem;
}
.recover a{
    color:#00ffcc;
    text-decoration: none;
}
.recover a:hover{
    color: #102722;
    text-decoration: underline;
}
.btn{
    font-size: 1.1rem;
    padding: 8px 0;
    border-radius: 5px;
    outline: none;
    border: none;
    width: 100%;
    background: #0c2520;
    color: #00ffcc;
    cursor: pointer;
    transition: 0.9s;
}
.btn:hover{
    background: #237463;
    color: #0c2520;
    transform: scale(0.8);
}
.or{
    font-size: 1.1rem;
    margin-top: 0.5rem;
    text-align: center;
}
.icons{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}
.icons i{
    font-size: 1.5rem;
    color: #00ffcc;
    cursor: pointer;
    transition: 0.5s;
}
.icons i:hover{
    color: #0c2520;
    transform: scale(1.2);
}
.links{
    text-align: center;
    margin-top: 1.2rem;
}
.links button{
    background: none;
    border: none;
    color: #00ffcc;
    font-weight: 600;
    cursor: pointer;
}
.links button:hover{
    text-decoration: underline;
}
@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}